@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E8E5DC;
    --secundary-color: #1A1006;
    --primary-color-lighter: #f4f1e7;
}

body{
    font-family: "Archivo", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

td, th {
    text-align: center;
}

.header-container.lavori{
    height: 60vh;
    background-image: url('../images/jpg/decorativa-1.jpg');
}

.lavori-container{
    background-color: var(--primary-color);
}

.lavori-container-mobile{
    background-color: var(--primary-color);
    display: none;
}

.table {
    border-collapse: collapse;
    font-size: 1.5vw;
}

.year-cell {
    font-weight: bold;
}

#hover-image {
    z-index: 1000;
    pointer-events: none;
    display: none; 
    position: absolute;
    border: #1A1006 1px solid;
}

.hover-row {
    cursor: pointer;
}

.hover-row:hover {
    background-color: var(--primary-color-lighter);
}

/* Bordo orizzontale per le righe standard */
.border-row td:not(:first-child) {
    border-bottom: 1px solid var(--secundary-color);
}

/* Bordo più spesso tra gli anni */
.border-bottom-year td:not(:first-child) {
    border-bottom: 3px solid var(--secundary-color);
}

/* Rimuovi i bordi verticali e altri bordi indesiderati */
.table td:first-child, .table th:first-child {
    border-bottom: none;
}

