@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E8E5DC;
    --secundary-color: #1A1006;
}

body{
    font-family: "Archivo", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

.thumbnail-image img{
  border-radius: 5px;
  border: var(--secundary-color) 1px solid;
}

.nav-container{
    background-color: var(--primary-color);
}

.lavoro-container{
    background-color: var(--primary-color);
}

.lavoro-title {
    font-size: 3.5vw;
    font-weight: bold;
}

.main-image {
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    border: var(--secundary-color) 1px solid;
}

.thumbnail-image {
  margin-top: 10px;
}

#largeImage {
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
}

div.hover-zoom{
  overflow: hidden;
}

.hover-zoom img{
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.hover-zoom:hover img{
  opacity: 0.7;
}

.table {
  border-collapse: collapse;
  font-size: 1.5vw;
}

.border-row td{
  border-bottom: 1px solid var(--secundary-color);
}