@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E8E5DC;
    --secundary-color: #1A1006;
}

body{
    font-family: "Archivo", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header-container.lavori{
    height: 60vh;
    background-image: url('../images/jpg/decorativa-1.jpg');
}