@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E8E5DC;
    --secundary-color: #1A1006;
}

body{
    font-family: "Archivo", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header-container.services{
    height: 60vh;
    background-image: url('../images/png/decorativa-4.png');
}

.nav-link{
    font-size: 2vw;
    color: var(--secundary-color);
    font-weight: 600 !important;
}

.brand-title{
    font-size: 8vw;
    font-weight: bold !important;
    color: var(--secundary-color);
}

.menu-bottom-container.alternative{
    padding-top: 2rem;
    background-color: var(--primary-color);
}

.menu-bottom-item.alternative{
    color: var(--secundary-color);
}

.menu-bottom-separator.alternative{
    color: var(--secundary-color);
}

.services-cards-container{
    background-color: var(--primary-color);
}

.service-card-description{
    color: var(--secundary-color);
    font-size: 2vw;
}

.service-card-image{
    width: 720px;
    height: 460px;
}

.service-card-line{
    background-color: var(--secundary-color);
    height: 2px;
    max-width: 119px;
    margin-right: 1rem;
}

.service-card-link{
    color: var(--secundary-color);
    text-decoration: none;
    font-size: 1.2vw;
}

.service-card-link .highlight{
    color: var(--secundary-color);
    font-weight: bold;
}

.service-card-link:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .service-card-image{
        width: 360px;
        height: 230px;
    }
}
