@import url('./base.css');

.header-container.servizi{
    height: 60vh;
    background-image: url('../images/png/decorativa-4.png');
}

.services-cards-container{
    background-color: var(--primary-color);
}

.service-card-description{
    color: var(--secundary-color);
    font-size: 2vw;
    padding: 3rem 4rem;
}

.service-card-image{
    width: 720px;
    height: 460px;
}

.services-cards-container .row:nth-child(odd) .col-6 img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.services-cards-container .row:nth-child(even) .col-6 img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.service-card-link{
    color: var(--secundary-color);
    text-decoration: none;
    font-size: 1.5vw;
}

.service-card-link .highlight{
    color: var(--secundary-color);
}
