@import url('./base.css');

.header-container.servizi{
    height: 60vh;
    background-image: url('../images/png/decorativa-4.png');
}

.services-cards-container{
    background-color: var(--primary-color);
}

.service-card-description{
    color: var(--secundary-color);
    font-size: 2vw;
}

.service-card-image{
    width: 720px;
    height: 460px;
}

.service-card-link{
    color: var(--secundary-color);
    text-decoration: none;
    font-size: 1.2vw;
}

.service-card-link .highlight{
    color: var(--secundary-color);
}
