@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E8E5DC;
    --secundary-color: #1A1006;



}
body{
    font-family: "Archivo", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/*HEADER E NAVBAR*/
.header-container{
    min-height: 100vh;
    background-image: url("../images/png/banner.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.nav-link{
    font-size: 2vw;
    color: white;
    font-weight: 600 !important;
}

.navbar-nav .nav-item {
    margin-right: 5rem; /*spazio tra i link*/
}

.brand-name{
    color: white;
    margin-top: 8rem; /*posizionamento del nome TINTART*/
    margin-left: 5rem;
}

.brand-title{
    font-size: 8vw;
    font-weight: bold !important;
}

.brand-subtitle{
    font-size: 2vw;
}

.menu-bottom{
    font-size: 1.5vw;
    background-color: var(--secundary-color);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 14px;
}

.menu-bottom-item{
    text-decoration: none;
    color:white;
}

.menu-bottom-separator{
    text-decoration: none;
    color:white;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

/*DESCRIPTION*/
.description-container{
    min-height: 15vh;
    background-color: var(--primary-color);
    padding: 3rem 6rem; /*DA FARE MEDIA QUERY*/
    overflow: hidden;
}

.description-text{
    font-size: min(8vw,3.5vw); /*DA FARE MEDIA QUERY*/
}
.line{
    max-width: 119px; /*DA FARE MEDIA QUERY*/
    height: 2px;
    background-color: var(--secundary-color);
}
.contact-text{
    font-size: 2vw;
    color: var(--secundary-color);
    text-decoration: none;
}

.logo-transparent {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 1;
}

@media (max-width: 768px) {
    .description-container{
        padding: 1rem
    }

    .line{
        max-width: 50px;
    }

    .logo-transparent{
        width: 35%;
    }
}

/*SERVICES*/
.service-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem;
    color: white;
    z-index: 1;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.service-card-title {
    font-size: 1.8rem;
    display: flex;
    
}

.service-card-text {
    font-size: 1.4rem;
}

.service-card-image{
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
}

.service-card:hover .service-card-image {
    transform: scale(1.1);
}

/*PARTNERS*/
.partner-container{
    padding-top: 5rem;
    background-color: var(--primary-color);
}

.partner-title{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.logo-image {
    max-width: 150px; 
    transition: transform 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.logo-image:hover {
    transform: scale(1.2);
}

.logo-subtitle{
    font-size: 1.2rem;
    opacity: 0.7;
}

/*CONTACT*/
.contact-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: var(--primary-color);
}

.contact-title {
    font-size: 2.5rem;
    color: var(--secundary-color);
}

.contact-subtitle {
    font-size: 1.8rem;
    color: var(--secundary-color);
}

.form-control {
    border: 2px solid var(--secundary-color) ;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    font-weight: lighter;
    min-width: 50vw;
}


.btn-dark {
    background-color: var(--secundary-color);
    color: #ffffff;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-dark:hover {
    background-color: #3C2E21; /* Colore più chiaro al passaggio del mouse */
}

textarea {
    resize: none;
    min-height: 20vw !important;
}

/*FOOTER*/
.footer-container {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    padding-top: 1rem;
}

.footer-logo-container{
    padding-left: 0px;
}

.footer-logo {
    position: relative;
}

.footer-logo-front {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2rem;
}

.footer-heading {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.footer-text {
    font-size: 0.9rem;
    margin: 0;
}

.footer-description{
    margin-top: 1.5rem;
}

.footer-address{
    margin-top: 3rem;
}

.footer-ajalab{
    padding: 0.5rem;
}

.footer-ajalab p{
    font-size: 1.2rem;
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-icon-image {
    max-width: 50px;
    height: auto;
}
