@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E8E5DC;
    --secundary-color: #1A1006;
    --secundary-color-lighter: #3C2E21;
}

body{
    font-family: "Archivo", serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: underline;
}

.highlight{
    font-weight: bold;
}

.selected{
    text-decoration: underline;
}

.btn-dark {
    background-color: var(--secundary-color);
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-dark:hover {
    background-color: var(--secundary-color-lighter);
    text-decoration: none;
}

/*HEADER E NAVBAR*/
.header-container{
    height: 80vh;
    background-image: url("../images/jpg/decorativa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.nav-link{
    font-size: 2vw;
    color: white;
    font-weight: 600 !important;
}

.navbar-nav .nav-item {
    margin-right: 5rem; /*spazio tra i link*/
}

.brand-name{
    color: white;
    margin-top: 8rem; /*posizionamento del nome TINTART*/
    margin-left: 5rem;
}

.brand-title{
    font-size: 8vw;
    font-weight: bold !important;
}

.brand-subtitle{
    font-size: 2vw;
}

/*DESCRIPTION*/
.description-container{
    min-height: 15vh;
    background-color: var(--primary-color);
    padding: 3rem 6rem;
    overflow: hidden;
}

.menu-bottom{
    font-size: 2vw;
    padding-bottom: 3rem;
}

.menu-bottom-item,
.menu-bottom-separator{
    color: var(--secundary-color);
    text-decoration: none;
}

.menu-bottom-separator {
    margin: 0 1.5rem;
}

.description-text{
    font-size: 2.5vw; 
}

.contact-description-container{
    margin-top: 3rem;
}

.line{
    max-width: 119px;
    height: 2px;
    background-color: var(--secundary-color);
    margin-right: 1rem;
}

.line.description{
    margin-left: 1rem;
}

.contact-text{
    font-size: 2vw;
    color: var(--secundary-color);
    text-decoration: none;
}

.logo-transparent {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 1;
}

.contact-service-container.mobile{
    display: none;
}

.contact-service-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

.contact-service-text{
    font-size: 2vw;
}

.contact-service-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2vw;
    color: var(--secundary-color);
}


/*SERVICES*/
.service-card {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem;
    color: white;
    z-index: 1;
    text-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.service-card-title {
    font-size: 1.8rem;
    display: flex;
}

.service-card-text {
    font-size: 1.4rem;
}

.service-card-image{
    object-fit: cover;
    width: auto;
    height: 600px;
}

.service-card-text {
    display: none;
}

.service-card:hover .service-card-text {
    display: block;
}


/*PARTNERS*/
.partner-container{
    padding-top: 5rem;
    background-color: var(--primary-color);
}

.partner-title{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.partner-image-subtitle{
    font-size: 1.2rem;
    opacity: 0.7;
}

.partner-image {
    max-width: 150px; 
    transition: transform 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.partner-image:hover {
    transform: scale(1.2);
}

/*CONTACT*/
.contact-container-mobile{
    padding: 2rem 0 3rem 0;
    display: none;
}
.contact-container {
    padding: 3rem 4rem 5rem 4rem; /*top right bottom left*/
    background-color: var(--primary-color);
}

.contact-title {
    font-size: 2.5rem;
    color: var(--secundary-color);
}

.contact-subtitle {
    font-size: 1.8rem;
    color: var(--secundary-color);
}

.form-control {
    border: 2px solid var(--secundary-color) ;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    font-weight: lighter;

}

/*FOOTER*/
.footer-container {
    background-color: var(--secundary-color);
    color: var(--primary-color);
    padding-top: 1rem;
}

.footer-logo-container{
    padding-left: 0px;
}

.footer-logo {
    position: relative;
}

.footer-logo-front {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2rem;
}

.footer-heading {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.footer-text {
    font-size: 0.9rem;
    margin: 0;
}

.footer-description{
    margin-top: 1.5rem;
}

.footer-address{
    margin-top: 3rem;
}

.footer-ajalab{
    padding: 0.5rem;
}

.footer-ajalab p{
    font-size: 1.2rem;
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-icon-image {
    max-width: 50px;
    height: auto;
}