@import url('./base.css');

/*HEADER E NAVBAR*/
.header-container{
    height: 80vh;
    background-image: url("../images/jpg/decorativa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.nav-link{
    font-size: 2vw;
    color: white;
    font-weight: 600 !important;
}

.nav-link.dark{
    color: var(--secundary-color);
}

.navbar-nav .nav-item {
    margin-right: 5rem; /*spazio tra i link*/
}

.header-title-container{
    color: white;
}

.header-title-container.dark{
    color: var(--secundary-color);
}

.header-title{
    font-size: 6vw;
    font-weight: bold;
}

.header-subtitle,
.header-description{
    font-size: 1.5vw;
}

.header-subtitle{
    margin-top: -2rem;
    margin-left: 1rem;
}

/*DESCRIPTION*/
.description-container{
    min-height: 15vh;
    background-color: var(--primary-color);
    padding: 3rem 6rem;
    overflow: hidden;
}

.menu-top-container{
    background-color: var(--primary-color);
    font-size: 2vw;
}

.menu-top-item,
.menu-top-separator{
    color: var(--secundary-color);
    text-decoration: none;
}

.menu-top-separator {
    margin: 0 1.5rem;
}

.description-text{
    font-size: 2.5vw; 
}

.contact-description-container{
    margin-top: 3rem;
}

.line{
    max-width: 119px;
    height: 2px;
    background-color: var(--secundary-color);
    margin-right: 1rem;
}

.line.description{
    margin-left: 1rem;
}

.contact-text{
    font-size: 2vw;
    color: var(--secundary-color);
    text-decoration: none;
}

.logo-transparent {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 1;
}

.contact-bottom-container.mobile{
    display: none;
}

.contact-bottom-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--primary-color);
    color: var(--secundary-color);
}

.contact-bottom-text{
    font-size: 2vw;
}

.contact-bottom-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2vw;
    color: var(--secundary-color);
}


/*SERVICES*/
.service {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem;
    color: white;
    z-index: 1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.service-title {
    font-size: 1.8rem;
    display: flex;
}

.service-text {
    font-size: 1.4rem;
}

.service-image{
    object-fit: cover;
    width: auto;
    height: 600px;
}

.overlay .service-text {
    display: none;
  }

/*PARTNERS*/
.partner-container{
    padding-top: 5rem;
    background-color: var(--primary-color);
}

.partner-title{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.partner-image-subtitle{
    font-size: 1.2rem;
    opacity: 0.7;
}

.partner-image {
    max-width: 150px; 
    transition: transform 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.partner-image:hover {
    transform: scale(1.2);
}

/*CONTACT*/
.contact-container-mobile{
    padding: 2rem 0 3rem 0;
    display: none;
}
.contact-container {
    padding: 3rem 4rem 5rem 4rem; /*top right bottom left*/
    background-color: var(--primary-color);
}

.contact-title {
    font-size: 2.5rem;
    color: var(--secundary-color);
}

.contact-subtitle {
    font-size: 1.8rem;
    color: var(--secundary-color);
}

.form-control {
    border: 2px solid var(--secundary-color) ;
    font-size: 1.5vw;
    background-color: var(--primary-color);
    font-weight: lighter;

}

/*FOOTER*/
.footer-container {
    padding-top: 1rem;
    background-color: var(--secundary-color);
    color: var(--primary-color);
}

.footer-title {
    font-size: 1.1rem;
}

.footer-text {
    font-size: 0.9rem;
}

.footer-link{
    color: var(--primary-color);
    text-decoration: none;
}

.footer-bottom-logo {
    position: absolute;
    bottom: 0;
    right: 0;
}